api==0.0.7
certifi==2017.11.5
chardet==3.0.4
ciscospark==0.1.2
ciscosparkapi==0.8.3
click==6.7
Flask==0.12.2
future==0.16.0
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nose==1.3.7
requests==2.18.4
requests-toolbelt==0.8.0
urllib3==1.22
Werkzeug==0.13
